<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="users"><%= title %></a></h1>
    <p><a href="Welcome">Welcome to <%= title %></a>></p>
  </body>
</html>
