<!DOCTYPE html>
<html>
  <head>
    <title>user</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div>
  		<h3 style="display: inline;"> hi </h3>
  		<h1 style="display: inline;">JITHIN</h1>
  	</div>
    
    <p>Welcome to express </p>
  </body>
</html>
